* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

input,
textarea,
button {
    border: 1px solid #000;
}

input[type='text'] {
    width: 100%;
    padding: 0.5em;
    font-size: 16px;
}

textarea {
    height: 400px;
    width: 100%;
    padding: 0.5em;
}

button {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.parse {
    clear: both;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.l-2up--1 {
    float: left;
    width: 50%;
    padding-right: 10px;
}

.l-2up--2 {
    float: left;
    width: 50%;
    padding-left: 10px;
}

.l-1up {
    width: 100%;
}

#result {
    display: none;
    margin-top: 2em;
    padding: 1em;
    background: #f1f1f1;
}

#result-tests {
    width: 100%;
    overflow-x: scroll;
}

label {
    display: block;
    padding: 1em 0 0.5em;
}

.form-element {
    margin-top: 1.5em;
}